.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
.env

application/uploads/proof/*
!application/uploads/proof/index.html

application/uploads/papers/*
!application/uploads/papers/index.html

application/uploads/cert_template/*
!application/uploads/cert_template/index.html

application/uploads/material/*
!application/uploads/material/index.html

themes/uploads/profile/*
themes/uploads/profile/index.html
