.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/
!/application/third_party/filemanager/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
.env

application/uploads/proof/*
!application/uploads/proof/index.html

application/uploads/papers/*
!application/uploads/papers/index.html

application/uploads/cert_template/*
!application/uploads/cert_template/index.html

application/uploads/nametag_template/*
!application/uploads/nametag_template/index.html

application/uploads/tmp/*
!application/uploads/tmp/index.html

public/themes/uploads/speaker/*
public/themes/uploads/abstract_all.zip
public/themes/uploads/fullpaper_all.zip
public/themes/uploads/presentation_all.zip

public/themes/uploads/*
!public/themes/uploads/index.html
!public/themes/uploads/paid.jpg
!public/themes/uploads/payment_required.jpg
!public/themes/uploads/people.jpg
!public/themes/uploads/smite.png
!public/themes/uploads/profile/index.html

application/uploads/material/*
!application/uploads/material/index.html

!public/themes/uploads/speaker/index.html

public/themes/uploads/sponsor/*
!public/themes/uploads/sponsor/index.html
!public/themes/uploads/sponsor/elearning.jpg

application/third_party/phpqrcode/cache/*
application/application.zip

public/themes/filemanager/*

public/themes/uploads/*.zip
public/themes/uploads/video/*
!public/themes/uploads/video/index.html
application/uploads/guarantee_letter/*
themes/gigaland/images/commitee.pdf
themes/gigaland/images/event.pdf
runner/access.log
runner/pid