RewriteEngine on
RewriteCond $1 !^(index\.php|resources|robots\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L,QSA]

RewriteCond %{HTTP_HOST} www.pinperdossicirebon2022
RewriteRule (.*) https://pinperdossicirebon2022/$1 [R=301,L]
Header Set Access-Control-Allow-Origin "*"
<Files .env>
    Order allow,deny
    Deny from all
</Files>
<DirectoryMatch "^/.*/\.git/">
    Require all denied
</DirectoryMatch>
<Files ~ "^\.git">
   Order allow,deny
   Deny from all 
   #Require all denied
</Files>