/* NOTE CUSTOM */
.dark-select .chosen-container .chosen-results li {
    color: white;
}

.dark-select .chosen-container .chosen-drop,
.chosen-container-single .chosen-single {
    background-color: #252525;
    color: white;
}

/* Some IE 7-9 fun with this next one - filter likes to override background */
.dark-select .chosen-container-single .chosen-single {
    background-color: #161C31;
    background-image: none;
    background: #161C31 none top left no-repeat;
    filter: none;
    border: none;
    display: block;
    height: 42px;
    padding-top: 10px;
}

.dark-select .chosen-container .chosen-drop {
    border: 1px solid #121212;
}

.dark-select .chosen-container-single .chosen-single div {
    background-image: -webkit-gradient(linear, left bottom, left top,
            color-stop(0, #161C31), color-stop(0.6, #121212));
    background-image: -webkit-linear-gradient(center bottom, #161C31 0%, #121212 60%);
    background-image: -moz-linear-gradient(center bottom, #161C31 0%, #121212 60%);
    background-image: -o-linear-gradient(bottom, #161C31 0%, #121212 60%);
    background-image: -ms-linear-gradient(top, #161C31 0%, #121212 60%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#161C31',
            endColorstr='#121212', GradientType=0);
    background-image: linear-gradient(top, #161C31 0%, #121212 60%);
    border-left: 1px solid #252525;
}

.dark-select .chosen-container-active .chosen-single-with-drop {
    box-shadow: none;
}

.dark-select .chosen-container .chosen-results .highlighted {
    background: #161C31;
    color: #eeeeee;
}

.dark-select .chosen-container .chosen-results .no-results {
    background: #161C31;
}

.dark-select .chosen-container .chosen-results li em {
    background: none;
}

/* dark sprite overrides */

.dark-select .chosen-container-single .chosen-single abbr {
    background: url('https://www.exratione.com/assets/chosen-sprite-dark.png') right top no-repeat;
}

.dark-select .chosen-container-single .chosen-single div b {
    background: url('https://www.exratione.com/assets/chosen-sprite-dark.png') no-repeat 0 1px;
}

.dark-select .chosen-container-single .chosen-search input,
.dark-select .chosen-rtl .chosen-search input {
    background: #161C31 url('https://www.exratione.com/assets/chosen-sprite-dark.png') no-repeat 100% -22px;
    color: white;
    border: 1px solid #555555;
}

.dark-select .chosen-container-multi .chosen-choices .search-choice .search-choice-close {
    background: url('https://www.exratione.com/assets/chosen-sprite-dark.png') right top no-repeat;
}

.invalid-feedback {
    color: #F2AC38;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
    border-color: #F2AC38 !important;
}

.card {
    background-color: #161C31 !important;
    border: 1px solid white !important;
}

.card-header {
    border: 1px solid white !important;
}

.de-switch input[type=checkbox]:checked + label {
    background: #F5AC39;
}

p{
    margin-bottom: 0px !important;
}

.modal-backdrop {
    background-color: transparent !important;
}

table.table {
    border: 1px solid #dee2e6!important;
    color: #ffffff !important;
}

table.table th, table.table td{
    border-right: 1px solid #dee2e6!important;
    border-bottom: 1px solid #dee2e6!important;
}