.card-achievement > .card-header{
    background-color: #232a5c !important;
}

.card-achievement{
    color: #232a5c;
}
.btn-edge {
    border-radius: 20px;
    padding: 5px, 8px, 5px, 8px;
}

.btn-block {
    display: block;
    padding: 5px;
}

.btn-edge-block {
    display:block;
    border-radius: 25px;
    padding: 5px;
}
.bg-purple{
    background: #6f42c1 !important;
}
.btn-purple {
    color: white; 
    background: #6f42c1;;
}

.btn-purple:hover {
    color: whitesmoke;
    background: #6221dc;;
}

.btn-danger:hover {
    color: white;
    background: #dd0046;
}

.select2 {
    height: 20px;
    width: 100%;
}

.nav-fill .nav-item,.nav-fill>.nav-link{flex:1 1 auto;text-align:center}

.scrollToTop i {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    background: #6f42c1;
    font-size: 1.25rem;
    -webkit-transition: .3s all linear;
    -moz-transition: .3s all linear;
    transition: .3s all linear;
}

.fore-zero .section-wrapper .zero-item .zero-content .lab-btn, .shop-cart .section-wrapper .cart-bottom .shiping-box .calculate-shiping .outline-select .select-icon, .shop-cart .section-wrapper .cart-bottom .cart-checkout-box .coupon input[type=submit], .shop-cart .section-wrapper .cart-top table thead tr, .shop-single .review .review-content .review-showing .client-review .review-form .review-title h5::before, .shop-single .review .review-nav li.active, .shop-single .product-details .post-content form .default-button, .shop-page .shop-product-wrap .product-item .product-thumb .product-action-link a, .shop-page .shop-product-wrap .product-list-item .product-thumb .product-action-link a, .video-icon i, .video-item .video-inner .video-content a, .footer-section .footer-middle .footer-middle-item-wrapper .footer-middle-item-3 .fm-item-content form button, .footer-section .footer-middle .footer-middle-item-wrapper .footer-middle-item-3 .fm-item-content form .lab-btn, .header-wrapper .menu-area .signup, .cart-plus-minus .qtybutton:hover {
    background: #6f42c1;
}

.gallery-filter li.is-checked {
    background: #6f42c1;
}

.preloader{
    position:fixed;
    top:0;
    left:0;
    z-index:999999999;
    width:100%;
    height:100%;
    background:#6f42c1;
}

.img-rotate {
    position: absolute;
    top: 50%;
    left: 50%;
    /* width: 120px; */
    /* height: 120px; */
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.accordion-item .accordion-header .accordion-button.collapsed {
    background: #6f42c1;
    border-bottom: none;
}

/* .default-button.reverse-effect::before {
    background-color: #6f42c1;
} */

.default-button{
    font-size:1.125rem;
    color:#6f42c1;
    font-weight:700;
    transition:.3s cubic-bezier(0.79, 0.14, 0.15, 0.86);
    padding:0 1rem;
    line-height:3rem;
    font-family:"Oswald",sans-serif;
    text-transform:uppercase;
    line-height:60px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px
}

.default-button span{
    position:inherit;
    z-index:2
}

.default-button:after,.default-button:before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    transition:.3s cubic-bezier(0.79, 0.14, 0.15, 0.86);
    height:100%;
    width:100%;
    border-radius:4px
}

.default-button:before{
    background-color:#fff;
    z-index:1;
    box-shadow:.2rem .2rem .5rem rgba(0,0,0,.2)
}

.default-button:after{
    background-color:#6f42c1;
    transform:translate(4px, 4px);
    z-index:0
}

.default-button:hover{
    transform:translate(4px, 4px);
    color:#fff
}

.default-button:hover:before{
    background-color:#6f42c1
}

.default-button:hover:after{
    background-color:#fff;
    transform:translate(-4px, -4px)
}

.default-button.reverse-effect{
    color:#fff
}

.default-button.reverse-effect::before{
    background-color:#6f42c1
}

.default-button.reverse-effect::after{
    background-color:#fff
}

.default-button.reverse-effect:hover{
    color:#6f42c1
}

.default-button.reverse-effect:hover::before{
    background-color:#fff
}

.default-button.reverse-effect:hover:after{
    background-color:#6f42c1
}

h1.header-title {
    text-shadow: 2px 2px 2px rgb(255 0 82 / 90%);
    font-size: 70px;
    margin-bottom: 20px;
}

.about-item2 .about-item-thumb2 {
    width: 35px;
    height: 35px;
    display: grid;
    place-items: center;
    border-radius: 100%;
    background-color: #ff0052;
    margin-right: 8px;
}

.bg-img {
    height: 100%; 
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

h2.header-title {
    text-shadow: 2px 2px 2px rgb(255 0 82 / 90%);
}

.img-logo-head {
    width: 200px;
}

@media (max-width: 480px) { 
    .img-logo-head {
        width: 150px;
    }
}